nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  max-width: min(90vw, 1000px);
  margin-top: 0.5em;
  margin-inline: auto;
  border: solid;

  // button {
  //   background-color: transparent;
  //   border: solid black 1px;
  //   padding: 0.2em 0.3em;
  //   cursor: pointer;
  //   transition: box-shadow 0.3s;

  //   &:hover {
  //     box-shadow: inset -2px -2px red;
  //   }
  // }
}

main {
  margin: 2em 0;
  max-width: min(90vw, 1000px);
  margin-inline: auto;
  border: solid;

  // .header {
  //   border: solid red 1px;
  //   padding: 0.5em;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   button {
  //     background-color: transparent;
  //     border: solid black 1px;
  //     cursor: pointer;
  //     padding: 0.5em;
  //   }

  //   .active {
  //     box-shadow: inset -2px -2px red;
  //   }
  // }

  .container {
    min-height: minmax(100vh, fit-content);
    .error {
      text-align: center;
      color: red;
    }
    .upload-img {
      height: 100vh;

      h1 {
        text-align: center;
      }

      .upload-section {
        margin: 2em 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .prev {
          height: 20em;
          width: 20em;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        form {
          margin: 2em 0;
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 1em;
        }
      }
    }
    .allimg {
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1em;
        margin: 2em 0;
        input {
          padding: 0.5em;
        }
      }
    }

    .searchImg {
      .input-box {
        display: flex;
        align-items: center;
        gap: 1em;
      }
      .output-box {
        border: solid green 1px;
      }
    }

    .img-container {
      margin: 1em 0;
      display: flex;
      gap: 1em;
      flex-wrap: wrap;

      .box {
        height: 15em;
        width: 15em;
        border: solid green 2px;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          position: top;
        }
      }
    }
  }
}

footer {
  padding: 1em 2em;
  max-width: min(90vw, 1000px);
  margin-top: 0.5em;
  margin-inline: auto;
  border: solid black 1px;
  text-align: center;

  a {
    text-decoration: none;
  }
}
