.login {
  background-image: linear-gradient(
    to left top,
    #051937,
    #003657,
    #005570,
    #007581,
    #0f9588
  );
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  .error {
    color: red;
  }

  .login-box {
    box-shadow: 0 0 10px 5px rgba(#00687a, 0.5);
    padding: 2em 1em;
    border-radius: 0.5em;
    background-color: white;

    form {
      margin: 1em 0;
      display: flex;
      flex-direction: column;

      input {
        margin: 0.3em 0;
        padding: 0.5em;

        &:last-child {
          margin-top: 1em;
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:active,
      input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
      }

      .password {
        position: relative;

        input {
          padding-right: 2.5em;
        }
        .controls {
          position: absolute;
          top: 35%;
          right: 1em;
          cursor: pointer;
        }
      }
    }

    small {
      display: block;
      text-align: center;
    }
  }
}
